@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<h1>Latest News</h1>
@await Component.InvokeAsync("LatestNews", new { newsCount = 2, showNewsBody = false })